.input_div_message_page
{
	position: fixed;bottom: 0px;width: 75%;background: rgba(255,255,255,0.8); border-radius: 10px;
}

body{
    margin-left:0px;
}

#send_button{
    width:65%;
}

.trending_room{

    background-color: rgba(255, 255, 255, 0.426);
    border-radius: 15px;
    height:  250px;

}